<nav class="pink darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo left">FESTIVAL PLAY</a>
        <ul id="nav-mobile" class="right">
            {{#if model}}
                {{#if model.success}}
                    <img src='{{model.user.image_url}}' class='circle'>
                {{else}}
                    <img src='/Spotify_Icon_RGB_White.png' class='circle'>
                    <li {{action 'login'}}>Login to Spotify</li>
                {{/if}}
            {{else}}
                <img src='/Spotify_Icon_RGB_White.png' class='circle'>
                <li class="spotify-login" {{action 'login'}}>Login to Spotify</li>
            {{/if}}
        </ul>
    </div>
</nav>

{{outlet}}
